*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
.navbar{
/*background-color:#ffffff;*/
display: flex;
justify-content: space-between;
align-items: center;
position: sticky;
}
.logo{
    margin: 6px;
    padding: 7px;

}
.navlist{
    padding: 5px;
}
.navbar li{
list-style: none;
float: left;
margin: 2px 5px;
padding-top: 20px;
}
.navbar li a{
    color: rgb(16, 128, 159);
display: flex;
text-decoration: none;
padding: 10px 7px;
font-size: 20px;
}
.navbar li a:hover{
    color: blue;
}
.drpbtn {
  background-color: transparent;
    color: rgb(16, 128, 159);
    padding: 4px;
    font-size: 20px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    padding:5px 5px;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    
  }
  
.dropdown-content ul li a{
    color: white;
    padding: 6px 6px;
    text-decoration: none;
    display: block;
    background-color: transparent;

  }
  
  .dropdown-content ul li a:hover {
    background-color:transparent;
    color: blue;
    border-radius: 0pc;
}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown:hover .drpbtn {
    background-color:transparent;
color:blue ;
}
nav.navbar.bgimage{
  height: 5px;
}
/*  .bgimage{
    background:rgba(0, 0, 0,0.7) url('C:\xampp\htdocs\PBL\css\FI0P8Y4VEAIsDls.jpg');
    background-size :cover;
    background-blend-mode: ;
  }*/
  .firstsec{
    height: 100vh  ;
    background-color:  rgb(171, 212, 223);
   /* background-image: url('css/electricbus.jpg');
    background-size:cover;
    background-position: center;*/
  }
  .mainbox{
    display: flex;
    max-width: 60%;
    justify-content: center;
    align-items: center;
    color:  rgb(3, 6, 48);
    margin: auto;
    height: 80%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .fhalf{
    width: 80%;
    display: flex;
    justify-content:cover;
    flex-direction: column;
    font-size: 25px;
  }
  .shalf img{
width: 100px;
  }
  .bigtext{
    font-size: 30px;
    font-stretch: expanded;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .smalltext{
    font-size: 19px;
    font-family: monospace;
  }
  .btn{
    background-color: #8acbd7;
    font-family:  'monospace';
    border-width: 1px;
    size: 30px;
    font-weight: bold;
    padding: 3px;
    border-radius: 6px;
  }
  .secondsec{
    background-color: (171, 212, 223);
    font-family: 'Courier New', Courier, monospace;

  }